<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Mec_Navigation>
            <version>3.0</version>
        </Mec_Navigation>
    </modules>
    <global>
    	<blocks>
	        <mec_navigation><class>Mec_Navigation_Block</class></mec_navigation>
	        <catalog>
	        	<rewrite>
	        		<layer_view>Mec_Navigation_Block_Layer_View</layer_view>
	        		<layer_filter_attribute>Mec_Navigation_Block_Layer_Filter_Attribute</layer_filter_attribute>
	        		<layer_filter_price>Mec_Navigation_Block_Layer_Filter_Price</layer_filter_price>
	        		<layer_filter_category>Mec_Navigation_Block_Layer_Filter_Category</layer_filter_category>
	        		<layer_filter_decimal>Mec_Navigation_Block_Layer_Filter_Decimal</layer_filter_decimal>
	        		<product_list_toolbar>Mec_Navigation_Block_Product_List_Toolbar</product_list_toolbar>
	        		<product_list_toolbar_pager>Mec_Navigation_Block_Product_List_Toolbar_Pager</product_list_toolbar_pager>
	        		<product_list>Mec_Navigation_Block_Product_List</product_list>
	        		<navigation>Mec_Navigation_Block_Navigation</navigation>	        		
	        	</rewrite>
	       	</catalog>
	       	<page>
	       		<rewrite>
	       			<html_pager>Mec_Navigation_Block_Html_Pager</html_pager>
	       		</rewrite>
	       	</page>
	       	<adminhtml>
	        	<rewrite>
	        		<catalog_product_attribute_edit_tab_main>Mec_Navigation_Block_Adminhtml_Catalog_Product_Attribute_Edit_Tab_Main</catalog_product_attribute_edit_tab_main>
	        		<catalog_product_attribute_edit_tab_options>Mec_Navigation_Block_Adminhtml_Catalog_Product_Attribute_Edit_Tab_Options</catalog_product_attribute_edit_tab_options>	        			        		
	        		<catalog_category_tab_attributes>Mec_Navigation_Block_Adminhtml_Catalog_Category_Tab_Attributes</catalog_category_tab_attributes>
	        	</rewrite>
	        </adminhtml>
	        <catalogsearch>
	       		<rewrite>
	       			<layer>Mec_Navigation_Block_Layer_Searchview</layer>
	       			<result>Mec_Navigation_Block_Search_Result</result>
	       		</rewrite>
	       	</catalogsearch>
	    </blocks>
	    <models>
            <mec_navigation>
                <class>Mec_Navigation_Model</class>
                <resourceModel>mec_navigation_mysql4</resourceModel>
            </mec_navigation>
            <mec_navigation_mysql4>
            	<class>Mec_Navigation_Model_Mysql4</class>
            	<entities>
            		 <attribute>
                        <table>mec_navigation_attribute</table>
		             </attribute>
            		 <attribute_store>
                        <table>mec_navigation_attribute_store</table>
		            </attribute_store>
            	</entities> 
            </mec_navigation_mysql4>
            <catalog>
            	<rewrite>
	            	<layer>Mec_Navigation_Model_Layer</layer>
	            	<layer_filter_attribute>Mec_Navigation_Model_Layer_Filter_Attribute</layer_filter_attribute>
	            	<layer_filter_price>Mec_Navigation_Model_Layer_Filter_Price</layer_filter_price>
	            	<layer_filter_category>Mec_Navigation_Model_Layer_Filter_Category</layer_filter_category>
	            	<layer_filter_decimal>Mec_Navigation_Model_Layer_Filter_Decimal</layer_filter_decimal>
	            	<layer_filter_item>Mec_Navigation_Model_Layer_Filter_Item</layer_filter_item>
	            </rewrite>
            </catalog>
            <catalog_resource_eav_mysql4>
            	<rewrite>
            		<attribute>Mec_Navigation_Model_Resource_Eav_Mysql4_Entity_Attribute</attribute>
	            	<product_collection>Mec_Navigation_Model_Resource_Eav_Mysql4_Product_Collection</product_collection>
	            	<layer_filter_attribute>Mec_Navigation_Model_Resource_Eav_Mysql4_Layer_Filter_Attribute</layer_filter_attribute>
	            	<layer_filter_price>Mec_Navigation_Model_Resource_Eav_Mysql4_Layer_Filter_Price</layer_filter_price>
	            	<layer_filter_decimal>Mec_Navigation_Model_Resource_Eav_Mysql4_Layer_Filter_Decimal</layer_filter_decimal>
	            	<layer_filter_category>Mec_Navigation_Model_Resource_Eav_Mysql4_Layer_Filter_Category</layer_filter_category>
	            </rewrite>
            </catalog_resource_eav_mysql4>
            <catalogsearch>
	       		<rewrite>
	       			<layer>Mec_Navigation_Model_Search_Layer</layer>
	       		</rewrite>
	       	</catalogsearch>
            <catalogsearch_mysql4>
            	<rewrite>
            		<fulltext_collection>Mec_Navigation_Model_Resource_Eav_Mysql4_Collection</fulltext_collection>
            	</rewrite>
            </catalogsearch_mysql4>
        </models>
        <helpers>
            <mec_navigation>
                <class>Mec_Navigation_Helper</class>
            </mec_navigation>
        </helpers>
        <resources>
            <mec_navigation_setup>
                <setup>
                    <module>Mec_Navigation</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mec_navigation_setup>
		</resources>
		<events>
			<catalog_entity_attribute_save_after>
        		<observers>
                    <mec_navigation_save_attribute>
                        <type>singleton</type>
                        <class>Mec_Navigation_Model_Observer</class>
                        <method>saveAttribute</method>
                    </mec_navigation_save_attribute>
                </observers>
        	</catalog_entity_attribute_save_after>
        	<catalog_entity_attribute_load_after>
        		<observers>
                    <mec_navigation_load_attribute>
                        <type>singleton</type>
                        <class>Mec_Navigation_Model_Observer</class>
                        <method>loadAttribute</method>
                    </mec_navigation_load_attribute>
                </observers>
        	</catalog_entity_attribute_load_after>
        	<controller_action_layout_render_before_catalog_category_view>
        		<observers>
                    <mec_navigation_check_ajax_request>
                        <type>singleton</type>
                        <class>Mec_Navigation_Model_Observer</class>
                        <method>checkAjax</method>
                    </mec_navigation_check_ajax_request>
                </observers>
        	</controller_action_layout_render_before_catalog_category_view>
        	<controller_action_layout_render_before_catalogsearch_result_index>
        		<observers>
                    <mec_navigation_check_ajax_request>
                        <type>singleton</type>
                        <class>Mec_Navigation_Model_Observer</class>
                        <method>checkAjax</method>
                    </mec_navigation_check_ajax_request>
                </observers>
        	</controller_action_layout_render_before_catalogsearch_result_index>
        	<controller_action_predispatch_checkout_cart_index>
            	<observers>
                    <mec_navigation_set_continue_shopping_url>
                        <type>singleton</type>
                        <class>Mec_Navigation_Model_Observer</class>
                        <method>setContinueShoppingUrl</method>
                    </mec_navigation_set_continue_shopping_url>
                </observers> 
            </controller_action_predispatch_checkout_cart_index>
            <catalog_controller_category_init_after>
                <observers>
                    <seosuite>
                        <type>singleton</type>
                        <class>Mec_Navigation_Model_Observer</class>
                        <method>prepareFilterParams</method>
                    </seosuite>
                </observers>
            </catalog_controller_category_init_after> 
            <controller_action_predispatch_catalogsearch_result_index>
            	<observers>
                    <mec_navigation_set_continue_shopping_url>
                        <type>singleton</type>
                        <class>Mec_Navigation_Model_Observer</class>
                        <method>prepareFilterParams</method>
                    </mec_navigation_set_continue_shopping_url>
                </observers> 
            </controller_action_predispatch_catalogsearch_result_index>
		</events>
		
	</global>
	<frontend>
		<translate>
			<modules>
				<Mec_Navigation>
					<files>
						<default>Mec_Navigation.csv</default>
					</files>
				</Mec_Navigation>
			</modules>
        </translate>
        <layout>
            <updates>
                <mec_navigation module="mec_navigation">
                    <file>mec-navigation.xml</file>
                </mec_navigation>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<mec_navigation>
				<use>admin</use>
				<args>
					<module>Mec_Navigation</module>
					<frontName>mec_navigation</frontName>
				</args>
			</mec_navigation>
        </routers>
    </admin>
    <adminhtml>    	
    	<events>
			<admin_system_config_changed_section_mec_activation>
                <observers>
                    <navigation_collect_totals_after>
                        <type>model</type>
                        <class>mec_navigation/observer</class>
                        <method>checkK</method>
                    </navigation_collect_totals_after>
                </observers>
            </admin_system_config_changed_section_mec_activation>
        </events>        
    	<translate>
			<modules>
				<Mec_Navigation>
					<files>
						<default>Mec_Navigation.csv</default>
					</files>
				</Mec_Navigation>
			</modules>
        </translate>    	
		<acl>
	        <resources>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <mec_navigation>
	                                    	<title>Mec - Advanced Navigation</title>
	                                    </mec_navigation>
	                                    <mec_activation>
	                                    	<title>Mec - Activation</title>
	                                    </mec_activation>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	                </children>
	            </admin>
	        </resources>
	    </acl>
	    <layout>
            <updates>
                <mec_navigation module="mec_navigation">
                    <file>mec-navigation.xml</file>
                </mec_navigation>
            </updates>
        </layout>
	</adminhtml>	
    <default>
    	<mec_navigation>  
    	    <general>
    	    	<mode>0</mode>
    	    	<pager>1</pager>
    	    	<showpager>1</showpager>
    	    </general>  		
    		<filter>
    			<slider_type>cone</slider_type>
    			<slider_style>1E90FF</slider_style>
    			<popup_style>FFFFFF</popup_style>
    			<icon_style>1F5070</icon_style>
    			<button_style>1F5070</button_style>
    			<style>E7F1F4</style>    			
    		</filter>
    		<category>
    			<active>0</active>
    			<filter_type>0</filter_type>
    			<inblock_height>150</inblock_height>
    			<show_shopby>1</show_shopby>    			
    			<column_color>ECF3F6</column_color>
    			<ajax_enabled>0</ajax_enabled>
    			<show_checkbox>0</show_checkbox>
    			<show_minimized>0</show_minimized>
    			<image_align>0</image_align>
    			<show_image_name>1</show_image_name>
    			<show_help>0</show_help>
    			<filter_reset>0</filter_reset>
    		</category>
    		<ajaxloader>
    			<enable>0</enable>
    			<imagealign>left</imagealign>
    			<bgcolor>FFFFFF</bgcolor>
    			<bordercolor>000000</bordercolor>
    			<textcolor>000000</textcolor>
    			<text>Loading, please wait...</text>
    		</ajaxloader>
    		<menubarsettings>
    			<navigation>0</navigation>    		    				
    		</menubarsettings>	
    		<rightcolumnsettings>
    			<active>0</active>
    			<filter_type>0</filter_type> 
    			<inblock_height>150</inblock_height>       			
    			<show_shopby>1</show_shopby>
    			<column_color>ECF3F6</column_color>
    			<ajax_enabled>0</ajax_enabled>
    			<show_checkbox>0</show_checkbox>
    			<show_minimized>0</show_minimized>
    			<image_align>0</image_align>
    			<show_image_name>1</show_image_name>
    			<show_help>0</show_help>
    			<filter_reset>0</filter_reset>			
    		</rightcolumnsettings>
    	</mec_navigation>
    </default>
</config>
