<?xml version="1.0"?>
<config>
  <modules>
    <Mec_Addca>
      <version>0.2.5</version>
    </Mec_Addca>
  </modules>
  <global>
    <helpers>
      <addca>
        <class>Mec_Addca_Helper</class>
      </addca>
    </helpers>
	<models>
	  <addca>
		<class>Mec_Addca_Model</class>
		<resourceModel>addca_mysql4</resourceModel>
	  </addca>
	</models>
	<resources>
	  <categoryattribute1362366483_setup>
		<setup>
		  <module>Mec_Addca</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1362366483_setup>
	  <categoryattribute1362366483_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1362366483_write>
	  <categoryattribute1362366483_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1362366483_read>
	</resources>
  </global>
</config> 