<?xml version="1.0"?>
<config>
	<modules>
		<AW_Hometabspro>
			<version>1.2</version><platform>ce</platform>
		</AW_Hometabspro>	
	</modules>	
	<global>
		<blocks>
			<hometabspro>
				<class>AW_Hometabspro_Block</class>
			</hometabspro>
		</blocks>		
		<models>
			<hometabspro>
				<class>AW_Hometabspro_Model</class>
			</hometabspro>
		</models>
		<helpers>
			<hometabspro>
				<class>AW_Hometabspro_Helper</class>
			</hometabspro>
		</helpers>		
		<resources>
			<hometabspro_setup>
				<setup>
					<module>AW_Hometabspro</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</hometabspro_setup>
			<hometabspro_write>
				<connection>
					<use>core_write</use>
				</connection>
			</hometabspro_write>
			<hometabspro_read>
				<connection>
					<use>core_read</use>
				</connection>
			</hometabspro_read>
		</resources>
	</global>	
	<frontend>
        <routers>
            <hometabspro>
                <use>standard</use>
                <args>
                    <module>AW_Hometabspro</module>
                    <frontName>hometabspro</frontName>
                </args>
            </hometabspro>
        </routers>		
		<layout>
			<updates>
				<hometabspro>
					<file>hometabspro.xml</file>
				</hometabspro>
			</updates>
		</layout>		
		<translate>
			<modules>
				<AW_Hometabspro>
					<files>
						<default>AW_Hometabspro.csv</default>
					</files>
				</AW_Hometabspro>
			</modules>
		</translate>

        <events>
		<controller_action_layout_load_before>
                   <observers>
                         <hometabspro_before_blocks_generate>
                             <class>hometabspro/observer</class>
                             <method>beforeBlocksGenerate</method>
                        </hometabspro_before_blocks_generate>
                  </observers>
                 </controller_action_layout_load_before>
         </events>
		




	</frontend> 	
	<adminhtml>
        <layout>
          <updates>
            <hometabspro>
            <file>aw_hometabspro.xml</file>
            </hometabspro>
        </updates>
        </layout>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<hometabspro>
											<title>aheadWorks - Home Tabs Pro</title>
										</hometabspro>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<translate>
			<modules>
				<AW_Hometabspro>
					<files>
						<default>AW_Hometabspro.csv</default>
					</files>
				</AW_Hometabspro>
			</modules>
		</translate>
	</adminhtml>  	
	<default>
		<hometabspro>
			<general>
				<display_at_home>1</display_at_home>
				<position>top</position>
				<loader_text>Loading...</loader_text>
			</general>
			<top_sellers>
				<enabled>1</enabled>
				<order>1</order>
				<title>Top Sellers</title>
				<products_count>9</products_count>
				<mode>list</mode>
			</top_sellers>	
			<top_rated>
				<enabled>1</enabled>
				<order>2</order>
				<title>Top Rated</title>
				<products_count>9</products_count>
				<mode>list</mode>
			</top_rated>				
			<most_reviewed>
				<enabled>1</enabled>
				<order>3</order>
				<title>Most Reviewed</title>
				<products_count>9</products_count>
				<mode>list</mode>
			</most_reviewed>				
			<just_added>
				<enabled>1</enabled>
				<order>4</order>
				<title>Just Added</title>
				<products_count>9</products_count>
				<mode>list</mode>
			</just_added>	
			<wishlist_top>
				<enabled>1</enabled>
				<order>5</order>
				<title>Wish List Top</title>
				<products_count>9</products_count>
				<mode>list</mode>
			</wishlist_top>
			<favourite_tab>
				<enabled>0</enabled>
				<order>6</order>
				<title></title>
                <sorting>created</sorting>
                <direction>DESC</direction>
				<products_count>9</products_count>
				<mode>list</mode>
			</favourite_tab>
		</hometabspro>	
	</default>					
</config>	
 