<?xml version="1.0"?>
<config>
    <modules>
        <HM_QuickLogin>
            <version>0.1.0</version>
        </HM_QuickLogin>
    </modules>
    <frontend>
        <routers>
            <quicklogin>
                <use>standard</use>
                <args>
                    <module>HM_QuickLogin</module>
                    <frontName>quicklogin</frontName>
                </args>
            </quicklogin>
        </routers>
        <layout>
            <updates>
                <quicklogin>
                    <file>quicklogin.xml</file>
                </quicklogin>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<quicklogin>
				<use>admin</use>
				<args>
					<module>HM_QuickLogin</module>
					<frontName>quicklogin</frontName>
				</args>
			</quicklogin>
        </routers>
    </admin>
    <adminhtml>		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <hm_quicklogin>
                                            <title>Hello Magento Quicklogin</title>
                                        </hm_quicklogin>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>				
			</resources>
		</acl>
		<layout>
			<updates>
				<quicklogin>
					<file>quicklogin.xml</file>
				</quicklogin>
			</updates>
		</layout>
    </adminhtml>   
    <global>
    	<models>
            <quicklogin>
                <class>HM_QuickLogin_Model</class>
            </quicklogin>
            
        </models>    
        <helpers>
            <quicklogin>
                <class>HM_QuickLogin_Helper</class>
            </quicklogin>
        </helpers>
        <blocks>
        	<page>
        		<rewrite>
        			<template_links>HM_QuickLogin_Block_Template_Links</template_links>
        		</rewrite>
        	</page>
        </blocks>
    </global>
    <default>
	<hm_quicklogin>
   		<general><enable>0</enable></general>
   		<general><allow_fields>accountdashboard,addressbook,myorder,mywishlist,mydownload</allow_fields></general>		
	</hm_quicklogin>
    </default>
</config>
