<style>
h1, h2, h3, p, td{
font-family: Arial, Helvetica, Sans-serif;
}



#banner img{
display: block;
margin-left: auto;
margin-right: auto;
}

.refurb{
font-size: 14px;
color: #FF0000;
font-weight: bold;
}

#refurbTable td{
font-size: 10px;
}
</style>
<div id="banner">
<img src="http://www.sydneytechstore.com.au/images/ebay/sydneytech/header.jpg" width="100%" >
<br><br>
<img src="http://www.sydneytechstore.com.au/images/ebay/sydneytech/why-buy-refurb.jpg"  height="auto">
<br>
</div>
	<tr>
		
			<table id="productTable" width="100%">
			<h2><strong>Product Description</strong></h2>	
			</table>
		
		
			<table id="productTable" width="100%">
			<h2><strong>Product Specification</strong></h2>
			</table>
		
			<table id="refurbTable">
				<h3 class="refurb">Asus Refurbished Stock</h3>
    
				<td >The Asus Laptops have been fully refurbished by Asus Australia to the highest  possible standards. They are NOT refurbished by a 3rd party, like some other  products. They have been resealed with the manufacturers sticker on them.<br /><br />
				The laptops are in full working order and carry a full 12 month warranty. <br /><br />
				As they are refurbished stock, there may be very minor surface marks on them  and we have inspected several units and they look like new. They have re-used  the packaging to save costs and the environment, but the contents inside are in  the highest possible condition.<br /><br />
				Stock is limited, so be sure to grab these computers at heavily discounted  prices.</td>
			</table>
		
	</tr>
</table>
