<style>
h1, h2, h3, p, td{
font-family: Arial, Helvetica, Sans-serif;
}

</style>
<img src="http://www.sydneytechstore.com.au/images/ebay/sydneytech/header.jpg" width="100%" height="auto">
<br><br><br>
<img class="whybuy" src="http://www.sydneytechstore.com.au/images/ebay/sydneytech/why-buy-refurb.jpg" width="100%" height="auto">
<br><br>
    <h3>Product Description</h3>


	<h3>Product Specification</h3>


	<h3><strong><font color="#FF0000">Asus Refurbished Stock</font></strong></h3>
    
<p>The Asus Laptops have been fully refurbished by Asus Australia to the highest  possible standards. They are NOT refurbished by a 3rd party, like some other  products. They have been resealed with the manufacturers sticker on them.<br />
The laptops are in full working order and carry a full 12 month warranty. <br />
As they are refurbished stock, there may be very minor surface marks on them  and we have inspected several units and they look like new. They have re-used  the packaging to save costs and the environment, but the contents inside are in  the highest possible condition.<br />
Stock is limited, so be sure to grab these computers at heavily discounted  prices.</p>